body{
	background:url('../images/bs.gif') no-repeat center bottom #DD0109;
	background-size: 100% auto;
}
.form-header{
	width: 100%;
}
.form-header img{
	width: 100%;
}
.form{
	color: #fff;
	line-height: 40px;
	width: 90%;
	margin: 0 auto;
}
.form label{
	float: left;
	display: block;
}
.form input,.form select{
	display: block;
	float: left;
	border:0px;
	border-bottom: 1px solid #fff;
	line-height: 35px;
	background: none;
	color: #fff;
}
.form select{
	height: 35px;
	width: 30%;
}
.form input.longtext{
	width: 30%;
}
.form input.shorttext{
	width: 8%;
}
.detail{
	color: #FFC662;
	width: 90%;
	margin: 0 auto;
}
.detail h3{
	background: #FFC662;
	color: #DD0109;
	line-height: 22px;
	font-size: 14px;
	border-radius: 40px;
	margin-top: 10px;
	width: 100px;
	text-align: center;
	margin-bottom: 5px;
}
.de-text{
	line-height: 25px;
}
.detail h4{
	color: #DD0109;
	border-radius: 40px;
	float: left;
	margin-right: 10px;
	line-height: 20px;
	width: 20px;
	background: #FFC662;
	text-align: center;
}
.hdgz{
	line-height: 25px;
}
.gz{
	float: left;
	width: 85%;
}
.sub-btn{
	text-align: center;
	display: block;
	width: 150px;
	border-radius: 5px;
	background: url('../images/btn.gif') repeat-x;
	line-height: 40px;
	color: #FFC662;
	font-size: 16px;
	background-size: 100% 100%;
	margin: 30px auto;
	border:1px solid #fff;
	box-shadow: 1px 1px 0 #000;
}
#ready{
	position: relative;
}
.header2{
	position: absolute;
	top: 6%;
	width: 100%;
}
.header2 img{
	width: 100%;
}
.start-btn{
	display: block;
	width: 100%;
	position: absolute;
	top: 37%;
}
.start-btn img{
	width: 100%;
}
.bot2{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.bot2 img{
	width: 100%;
}
#gamelayer{
	display: none;
	background: url('../images/top3.jpg') no-repeat #791D1D;
	background-size: 100% auto;
	position: relative;
}
#panel {
    height:100%;
    width:100%;
    position: relative;
}
#panel .hb{
    width:100px;
    height:100px;
    overflow:hidden;
    text-align:center;
    background: url('../images/hb.png') no-repeat center center;
    position: absolute;
    left: 0;
    top: 0;
}
.win-loo{
    display: none;
    background: url('../images/sec.png') no-repeat center center;
    background-size: auto 100% ;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 2s;
    -moz-transition: all 2s;  /* Firefox 4 */
    -webkit-transition: all 2s;   /* Safari 和 Chrome */
    -o-transition: all 2s;    /* Opera */
}
.zhifu-btn{
	text-align: center;
	display: block;
	width: 50%;
	border-radius: 5px;
	background: url('../images/btn.gif') repeat-x;
	line-height: 40px;
	color: #FFC662;
	font-size: 16px;
	background-size: 100% 100%;
	border:1px solid #fff;
	box-shadow: 1px 1px 0 #000;
	position: absolute;
	bottom: 22px;
	left: 25%;
	height: 40px;
	overflow: hidden;
}
.ddh{
	width: 80%;
	margin-left: 12%;
	margin-bottom: 30px;
}
.ddh h3{
	color: #E2FFC0;
	font-size: 16px;
	line-height: 50px;
}
.ddh .ord-num{
	background: #F6CACA;
	line-height: 40px;
	border-radius: 40px;
	width: 80%;
	padding: 0 20px;
	font-size: 16px;
}